body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;

}
#board {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    cursor: url(../img/viseur02.png)50 50,pointer;
}
.pigeon {
    width: 100px;
    height: 100px;
    background-image: url(../img/pigeon.png) ;
    border-radius: 50%;
    position: relative;
}
